body{
    margin: 0 0;
    font-family: "Montserrat";
    overflow-x: hidden;
    overflow-y: hidden;
}
.alcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 80%;
    height: 100vh;
    background: rgb(61, 61, 78);
    margin-left: calc(-80% + 51px);
    position: fixed;
    transition: 0.5s;
    z-index: 20000;
}
.content_menu{
    width: calc(100% - 51px);
    height: 100vh;
}
.tabs_menu{
    width: 50px;
    background: rgb(40,40,60);
    height: 100vh;
}
.tab_o{
    width: 100%;
    height: 10%;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    background: rgb(61, 61, 78);
}
.tab_o:hover{
    color: rgb(40,40,60);
    background: #efefef;
}
.tab{
    width: 100%;
    height: 22.5%;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.tab:hover{
    color: rgb(50,50,60);
    background: #efefef;
}
.content{
    width: calc(100% - 51px);
    height: 100vh;
    margin-left: 51px;
    background: #efefef;
}
.screen{
    width: 100%;
    height: 100%;
}
.active{
    background: #efefef;
    color: rgb(50, 50, 60);
}
.disconnected{
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0,0.2);
    position: fixed;
    z-index: 25000;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
}
.aintcon{
    padding: 20px;
    border: 1px solid rgb(0,0,0,1);
    border-radius: 20px;
    color: #fff;
    background: rgb(0,0,0,0.3);
}
.video{
    min-width: 50%;
    max-width: 90%;

    max-height: 90%;
    margin: 0 0;
}
.video_controls{
    position: absolute;
    margin-top: 1vw;
    margin-left: 92vw;
    z-index: 1000;
    width: 100%;
    height: 10%;
}
.video_play{
background: rgb(220,220,220,0.4);
    width: 8vh;
    height: 8vh;
    border-radius: 10px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    color: #000;
}
.video_play:hover{
background: rgba(92, 88, 88, 0.4);
    color: #777;
}
.video_degree{
    width: 50%;
}
.video_flash{
    margin-top: 1vw;
background: rgb(220,220,220,0.4);
    width: 8vh;
    height: 8vh;
    border-radius: 10px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    color: #000;
    transition: 0.5s;;
}
.video_flash:hover{
background: rgba(92, 88, 88, 0.4);
    color: rgb(158, 158, 158);
}
.new_route{
    width: 8%;
    height: 50px;
    z-index: 1500;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    position: fixed;
    margin-left: calc(91% - 60px);
    margin-top: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.new_route:hover{
    background: rgba(0,0,0,.65);
    color: #fff;
}
.route_des{
    position: absolute;
    width: 20%;
    height: 100vh;
    margin-left: 100%;
    box-shadow: 0px 0px 10px 1px #333;
    z-index: 2000;
    background: #fff;
    transition: 0.5s;
    cursor: default;
}
.title{
    font-size: 20px;
    width: 100%;
    height: 4vh;
    font-weight: 700;
}
.close_route{
    font-size: 14px;
    color: rgb(243, 52, 100);
    width: 10%;
    margin-left: 45%;
    position: absolute;
    cursor: pointer;
}
.locations{
    height: 88%;
    width: 100%;
    overflow-y: auto;
}
.submit_route{
    width: 100%;
    height: 5%;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: rgb(24, 34, 56);
    transition:0.5s;
    cursor: not-allowed;

}
.submit_route:hover{
    background: rgb(36, 206, 112)
}
.top_r{
    border-bottom: 1px solid #adadad;
}
.location{
    width: 100%;
    height: 45px;
}
.loc_r_n{
    font-size: 16px;
    background: #c7c7c7;
    font-weight: bold;
    width: 10%;
    height: 100%;
    border-bottom: 1px solid #000;
}
.coord{
    padding-top: 2.5px;
    padding-left: 10px;
    width: 80%;
    height: 100%;
    font-size: 14px;
    border-bottom: 1px solid #adadad;
}
.d_t{
    width: 100%;
    height: 3%;
}
.e_p{
    width: 10%;
    height: 100%;
    color: rgb(243, 52, 100);
    cursor: pointer;
    border-bottom: 1px solid #adadad;
}
.r_t{
    width: 100%;
    height: 4%;
    margin-top: 1%;
    font-weight: bold;
    font-size: 30px;
}
.r_ct{
    height: 89%;
    width: 100%;
}
.butt_rt{
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(56, 82, 122);
    border-top: 1px solid rgb(56, 82, 122);
    border-left: 1px solid rgb(56, 82, 122);
    border-right: 1px solid rgb(56, 82, 122);
    transition: 0.5s;
    cursor: pointer;
}
.butt_rt:hover{
    background-color: #fff;
    color: rgb(56, 82, 122);
}
.butt_rf{
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(15, 15, 16);
    border-top: 1px solid rgb(15, 15, 16);
    border-left: 1px solid rgb(15, 15, 16);
    border-right: 1px solid rgb(15, 15, 16);
    transition: 0.5s;
    cursor: pointer;
}
.butt_rf:hover{
    background-color: #fff;
    color: rgb(15, 15, 16);
}
.butt_rc{
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(163, 64, 64);
    border-top: 1px solid rgb(163, 64, 64);
    border-right: 1px solid rgb(163, 64, 64);
    border-left: 1px solid rgb(163, 64, 64);
    transition: 0.5s;
    cursor: pointer;
}
.butt_rc:hover{
    background-color: #fff;
    color: rgb(163, 64, 64);
}
.b_ct{
    height: 6%;
    width: 100%;
}
.state_r{
    width: 70%;
    margin-left: 15%;
    height: 4%;
    border: 1px solid rgb(40,40,60);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background: #ededed;
}
.speed{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.actual_speed{
    width: 100%;
    height: 50%;
    background: #222;
}
.ctrl_cont{
    width: calc(100% - 30px);
    height: 100%;
}
.cont_ctrl{
    width: 100%;
    height: calc(100% - 30px);
}
.direction{
    width: 100%;
    height: 30px;
}
.actual_direction{
    width: 50%;
    margin-left: 0%;
    height: 100%;
    background: rgb(18, 187, 108);
}
.rva{
    width: 100%;
    height: 100%;
}
.t_rva{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.i_rva{
    font-size: 20px;
    text-align: center;
}
.webgl{
    width: 80%;
    height: 45%;
    border: 1px solid #adadad;
    border-radius: 5px;
    margin-left: 10%;
}
.but_rva_r{
    width: 55%;
    margin-left: 22.5%;
    font-weight: bold;
    color: white;
    background: #000;
    height: 40%;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s;
}
.but_rva_r:hover{
    background: #fff;
    color: #000;
}
.cba{
    width: 15%;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 100%;
    margin: 0% 5%;
}
.t_cs{
    margin-top: 2%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.t_cba{
    height: 40%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(61, 61, 78);
    background: #fff;
    width: 100%;
}
.i_cba{
    height: 60%;
    font-size: 25px;
    text-align: center;
}
.b_cba{
    width: 100%;
}
.bb_cba{
    height: 20%;
    width: 100%;
    margin-top: 5%;
    color: #fff;
}
input.bonito{
    height: 30px;
    text-align: center;
    width: 15%;
    margin: 0% calc(55% / 6);
    font: "Montserrat";
    border: 0px;
    border-bottom: 1px solid #adadad;
    font-size: 20px;
    outline: none;
}
.rr_b{
    width: 20%;
    height: 100%;
    border: 1px solid rgb(40,40,60);
    border-radius: 5px;
    margin: 0 calc(40% / 6);
}
.text_rr_bs{
    width: 100%;
    height: 50%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background: rgb(40,40,60);
}
.d_rr_bs{
    width: 100%;
    height: 50%;
    font-size: 25px;
    color: #222;
}
.text_plane{
    padding: 15px;
    border: 1px solid rgb(170,170,170);
    height: 40%;
    background: #fff;
    width: 80%;
    margin-top: 5vh;
    border-radius: 5px;
    margin-left: 10%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 45px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(33, 243, 208);
}
input:focus + .slider {
    box-shadow: 0 0 1px rgb(33, 243, 208);
}
input:checked + .slider:before {
    transform: translateX(55px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.exec_butt{
    width: 35%;
    margin: 15% 5%;
    height: 70%;
    border-radius: 5px;
    border: 1px solid rgb(243, 52, 100);
    background: rgb(243, 52, 100);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.exec_butt:hover{
    color: rgb(243, 52, 100);
    background: #ededed;
}
.ret_butt{
    width: 35%;
    margin: 15% 5%;
    height: 70%;
    border-radius: 5px;
    border: 1px solid rgb(34, 219, 90);
    background: rgb(34, 219, 90);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.ret_butt:hover{
    color: rgb(34, 219, 90);
    background: #ededed;
}
.r_t_conf_t{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
}
.but_ref_c_l{
    width: 80%;
    margin: 2% 10%;
    height: 5%;
    border-radius: 5px;
    border: 1px solid rgb(63, 48, 87);
    background: rgb(88, 63, 104);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.but_ref_c_l:hover{
    color: rgb(88, 63, 104);
    background: #ededed;
}

body {
    font-family: "Montserrat";
    margin: 0 0;
    user-select: none;
    background: #fff;
    overflow: hidden;

}

.alcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100vh;
}

.topbar {
    height: 15px;
    width: 100%;
    -webkit-app-region: drag;
    z-index: 2000;
    background: rgb(25, 29, 58);
    border-bottom-left-radius: 5px;

}

.header {
    height: 6vh;
}

.commands {
    width: 40%;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid #adadad;
    margin: 0 calc(5% - 2px);
    margin-right: calc(2.5% - 1px);
    font-family: "Montserrat";
    padding: 5px;
    font-size: 12px;
    outline: none;
}

.commbut {
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    width: 8%;
    height: 3vh;
    border-radius: 5px;
    background: rgb(40,40,60);
    margin: 0 calc(1% - 1px);
    cursor: pointer;
    border: 1px solid rgb(40,40,60);
    transition: 0.3s;
}

.commbut:hover {
    background: rgb(255, 255, 255);
    color: rgb(40,40,60);
    border: 1px solid rgb(40,40,60);
}

.commbutr {
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    width: 8%;
    height: 3vh;
    border-radius: 5px;
    background: rgb(226, 88, 88);
    margin: 0 1%;
    margin-right: 3%;
    cursor: pointer;
    border: 1px solid rgb(226, 88, 88);
    transition: 0.3s;
}

.commbutr:hover {
    background: rgb(255, 255, 255);
    color: rgb(226, 88, 88);
    border: 1px solid rgb(226, 88, 88);
}

.data {
    height: 40vh;
}

.logs {
    font-size: 12px;
    overflow: auto;
    width: 40%;
    height: 35vh;
    margin: 0 5%;
}

.delokos{
    width: 33.33333%;
    margin: 0% 0;
    height: 7vh;
    border-radius: 5px; 
}
.nene{
    height: 50%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px; 
}

.datos{
    height: 50%;
    background-color: white;
    width: 100%;
    font-weight: bold;
    font-size: 13px;


}

.map {
    width: 40%;
    height: 35vh;
    margin: 2.5% 5%;
    border: 1px solid #adadad;
    border-radius: 5px;
    transition: 0.5s;
    z-index:10;
}

.map:hover {
    width: 43%;
    height: 39vh;
    margin: 0.5% 1%;
}

.motors {
    height: 40vh;
    width: 100%;
}

.motor {
    width: 25vh;
    height: 25vh;
    background: rgb(40,40,60);
    border-radius: 100%;
    box-shadow: 0px 0px 20px 1px rgb(40,40,60);
}

.percentatge {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.rpm {
    margin-top: 10;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
}

.angle {
    font-size: 30px;
    width: 5%;
}

.spacer {
    width: calc(100% - 50vh - 10vw - 15vw);
    height: 40vh;
}

.servo {
    width: 6%;
    text-align: center;
}

.rservo {
    width: 3vw;
    height: 3vw;
    margin: 8 1.5vw;
    border: 1px solid #5e5e5e;
    border-radius: 100%;
}

.motorpow {
    width: 1vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.motorpowbar {
    width: 1vw;
    height: 0vh;
    background: rgb(63, 63, 63);
    z-index: 2000;
}

.motorpowh {
    margin-top: 2vh;
    width: 100%;
    height: 1vw;
}

.motorpowbarh {
    width: 0%;
    height: 1vw;
    background: rgb(224, 95, 72);
    z-index: 2000;
}

.brujula {
    --size: calc((100% - 60vh - 20vw - 15vw)/2);
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background: #adadad;
    transition: 0.1s;
    border: 1px solid #fff;
}

.palo {
    width: 8px;
    border-radius: 2px;
    height: 7vw;
    background: #fff;
    transition: 0.1s;
}

.frontspeed {
    width: 8px;
    transition: 0.1s;
    height: 0%;
    margin-bottom: 0;
    background: rgb(224, 95, 72);
}

.imgns {
    max-height: 100%;
    display: none;
}
.terminals {
  --color: rgba(48, 48, 48, 0.99);
  --background: #efefef;
  --animation: terminal-bar;
  --size:20px;
}